@import "tailwindcss";

@layer utilities {
  @media (max-width: 270px) {
    .@[270px]\:grid-cols-1 {
      grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }
  }
}

:root {
  --sidebar-width: 256px;
}

input[type="radio"],
input[type="checkbox"] {
  accent-color: #16a34a;
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-out;
}

.animate-scaleIn {
  animation: scaleIn 0.25s ease-out;
}


/* Slider thumb normal */
.slider-custom::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: white;
  border: 3px solid #22c55e
;
  cursor: pointer;
  transition: border-color 0.2s ease;
}

.slider-custom::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: white;
  border: 3px solid #22c55e
;
  cursor: pointer;
  transition: border-color 0.2s ease;
}

/* Color dinámico del borde */
.slider-custom[data-color="red"]::-webkit-slider-thumb {
  border-color: #dc2626;
}
.slider-custom[data-color="orange"]::-webkit-slider-thumb {
  border-color: #f59e0b;
}
.slider-custom[data-color="yellow"]::-webkit-slider-thumb {
  border-color: #fded5dff;
}
.slider-custom[data-color="green"]::-webkit-slider-thumb {
  border-color: #22c55e
;
}

.slider-custom[data-color="red"]::-moz-range-thumb {
  border-color: #dc2626;
}
.slider-custom[data-color="orange"]::-moz-range-thumb {
  border-color: #f59e0b;
}
.slider-custom[data-color="yellow"]::-moz-range-thumb {
  border-color: #fded5dff;
}
.slider-custom[data-color="green"]::-moz-range-thumb {
  border-color: #22c55e
;
}
